<section id="footer" class="bg--blue-grey">
    <div class="container">
        <div class="row mb-40">
            <div class="col-sm-4 col-sm-push-4 text-center">
                <a class="pl-15 pr-15" href="mailto:michaeljohnr@gmail.com">
                    <i class="fa fa-envelope fa-2x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </a>
                <a class="pl-15 pr-15" href="https://dribbble.com/kingdok" target="_blank">
                    <i class="fa fa-dribbble fa-2x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </a>
                <a class="pl-15 pr-15" href="https://nz.linkedin.com/in/michael-ramirez-83b2b623" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div>
    </div>
</section>