<section id="footer" class="bg--blue-grey pt-20">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 p-0">
                <div class="col-lg-12 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box" href="/print.html">
                        <h5 class="text-uppercase">Print</h5>
                    </a>
                </div>
                <div class="col-lg-12 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box" href="/motion.html">
                        <h5 class="text-uppercase">Motion</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 p-0">
                <div class="col-lg-12 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box tall" href="/web.html">
                        <h5 class="text-uppercase">Web</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="col-lg-6 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box" href="photography.html">
                        <h5 class="text-uppercase">Photography</h5>
                    </a>
                </div>

                <div class="col-lg-6 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box" href="/illustration.html">
                        <h5 class="text-uppercase">Illustration</h5>
                    </a>
                </div>

                <div class="col-lg-12 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box" href="/branding.html">
                        <h5 class="text-uppercase">Branding</h5>
                    </a>
                </div>
            </div>

        </div>
        <div class="row mt-40">
            <div class="col-sm-4 col-sm-push-4 text-center">
                <a class="pl-15 pr-15" href="mailto:michaeljohnr@gmail.com">
                    <i class="fa fa-envelope fa-2x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </a>
                <a class="pl-15 pr-15" href="https://dribbble.com/kingdok" target="_blank">
                    <i class="fa fa-dribbble fa-2x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </a>
                <a class="pl-15 pr-15" href="https://nz.linkedin.com/in/michael-ramirez-83b2b623" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div>
    </div>
</section>