<section id="portfolio">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2 class="section-heading">Portfolio</h2>
               <hr class="primary">
           </div>
           <div class="col-sm-2">
               <ul class="work-filters">
                   <li class="filter" data-filter="all">All</li>
                   <li class="filter" data-filter=".web">Web</li>
                   <li class="filter" data-filter=".branding">Branding</li>
                   <li class="filter" data-filter=".illustration">Illustration</li>
                   <li class="filter" data-filter=".photography">Photography</li>
                   <li class="filter" data-filter=".print">Print</li>
                   <li class="filter" data-filter=".motion">Motion</li>
               </ul>
           </div>
           <div class="col-sm-10 mixItUp" id="mixpannel">
               <div class="row sm-gutter">
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix web">
                       <a class="portfolio-box" href="/web.html">
                           <h5 class="text-uppercase">Web</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix branding">
                       <a class="portfolio-box" href="/branding.html">
                           <h5 class="text-uppercase">Branding</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix illustration">
                       <a class="portfolio-box" href="/illustration.html">
                           <h5 class="text-uppercase">Illustration</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix photography">
                       <a class="portfolio-box" href="/photograhy.html">
                           <h5 class="text-uppercase">Photography</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix print">
                       <a class="portfolio-box" href="/print.html">
                           <h5 class="text-uppercase">Print</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix motion">
                       <a class="portfolio-box" href="/motion.html">
                           <h5 class="text-uppercase">Motion</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix web">
                       <a class="portfolio-box" href="/web.html">
                           <h5 class="text-uppercase">Web</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix branding">
                       <a class="portfolio-box" href="/branding.html">
                           <h5 class="text-uppercase">Branding</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix illustration">
                       <a class="portfolio-box" href="/illustration.html">
                           <h5 class="text-uppercase">Illustration</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix photography">
                       <a class="portfolio-box" href="/photograhy.html">
                           <h5 class="text-uppercase">Photography</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix print">
                       <a class="portfolio-box" href="/print.html">
                           <h5 class="text-uppercase">Print</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix motion">
                       <a class="portfolio-box" href="/motion.html">
                           <h5 class="text-uppercase">Motion</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix web">
                       <a class="portfolio-box" href="/web.html">
                           <h5 class="text-uppercase">Web</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix branding">
                       <a class="portfolio-box" href="/branding.html">
                           <h5 class="text-uppercase">Branding</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix illustration">
                       <a class="portfolio-box" href="/illustration.html">
                           <h5 class="text-uppercase">Illustration</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix photography">
                       <a class="portfolio-box" href="/photograhy.html">
                           <h5 class="text-uppercase">Photography</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix print">
                       <a class="portfolio-box" href="/print.html">
                           <h5 class="text-uppercase">Print</h5>
                       </a>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5 mb-5 mix motion">
                       <a class="portfolio-box" href="/motion.html">
                           <h5 class="text-uppercase">Motion</h5>
                       </a>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>