<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <hr class="primary">
            </div>

            <div class="col-lg-3 p-0">
                <div class="col-lg-12 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box" href="/print.html">
                        <h5 class="text-uppercase">Print</h5>
                    </a>
                </div>
                <div class="col-lg-12 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box" href="/motion.html">
                        <h5 class="text-uppercase">Motion</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 p-0">
                <div class="col-lg-12 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box tall" href="/web.html">
                        <h5 class="text-uppercase">Web</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="col-lg-6 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box" href="photography.html">
                        <h5 class="text-uppercase">Photography</h5>
                    </a>
                </div>

                <div class="col-lg-6 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box" href="/illustration.html">
                        <h5 class="text-uppercase">Illustration</h5>
                    </a>
                </div>

                <div class="col-lg-12 col-md-4 col-sm-6 mt-15 mb-15">
                    <a class="portfolio-box" href="/branding.html">
                        <h5 class="text-uppercase">Branding</h5>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>