<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Work</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/health-yeah.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Branding
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/adc.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Websites
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/aoc.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Print
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/beer-bridge.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Illustration
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/on-brand-partners.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Animation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/opticbuild.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Photography
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
