$spacing-max: 200;
$spacing-step: 5;

@mixin make-prefixed-margins($size, $value) {
  .m-#{$size}-#{$value} { margin: $value * 1px !important; }
  .mt-#{$size}-#{$value} { margin-top: $value * 1px !important; }
  .mb-#{$size}-#{$value} { margin-bottom: $value * 1px !important; }
  .ml-#{$size}-#{$value} { margin-left: $value * 1px !important; }
  .mr-#{$size}-#{$value} { margin-right: $value * 1px !important; }
}

@mixin make-prefixed-paddings($size, $value) {
  .p-#{$size}-#{$value} { padding: $value * 1px !important; }
  .pt-#{$size}-#{$value} { padding-top: $value * 1px !important; }
  .pb-#{$size}-#{$value} { padding-bottom: $value * 1px !important; }
  .pl-#{$size}-#{$value} { padding-left: $value * 1px !important; }
  .pr-#{$size}-#{$value} { padding-right: $value * 1px !important; }
}

@for $i from 0 through ceil($spacing-max/$spacing-step) {
  $value: $i * $spacing-step;

  // Make sure legacy (not breakpoint-prefixed) class still work.
  // Margins
  .m-#{$value} {
    margin: $value * 1px !important;
  }
  .mt-#{$value} {
    margin-top: $value * 1px !important;
  }
  .mb-#{$value} {
    margin-bottom: $value * 1px !important;
  }
  .ml-#{$value} {
    margin-left: $value * 1px !important;
  }
  .mr-#{$value} {
    margin-right: $value * 1px !important;
  }

  // Paddings
  .p-#{$value} {
    padding: $value * 1px !important;
  }
  .pt-#{$value} {
    padding-top: $value * 1px !important;
  }
  .pb-#{$value} {
    padding-bottom: $value * 1px !important;
  }
  .pl-#{$value} {
    padding-left: $value * 1px !important;
  }
  .pr-#{$value} {
    padding-right: $value * 1px !important;
  }
}

.row-small {
  margin-right: -5px;
  margin-left: -5px;
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }
}