<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
{% include nav.html %}

<section class="bg--d-blue-grey pt-150 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Web</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
</section>

<section class="pt-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-push-2">
                <img src="/img/web/sign-in-page.jpg" class="img-responsive mt-20 mb-20"/>
                <img src="/img/web/product-shot.jpg" class="img-responsive mt-20 mb-20"/>
                <img src="/img/web/register-page.jpg" class="img-responsive mt-20 mb-20"/>
            </div>
        </div>
</section>

{% include footer.html %}
{% include scripts.html %}
</body>

</html>